@model MvcTercerDia.Models.Customer

@{
    Layout = null;
}

<h2>Mostrar Customer</h2>
<div>
    <p>
        Código del Customer: @Model.Código<br/>
        Nombre del Customer: @Model.Nombre<br/>
    </p>
</div>
